.meal-cart {
    border: 1px solid lightgray;
    border-bottom: none;
    border-radius: 10px;
}

.cart-heading-name {
    margin: 0;
}

.cart-heading-area {
    margin: 0;
}

.cart-image {
    width: 95%;
    border-radius: 5%;
}

.add-to-cart-btn {
    width: 100%;
    padding: 15px;
    background-color: wheat;
    border: none;
    border-radius: 0 0 10px 10px;
}

.add-to-cart-btn:hover {
    width: 100%;
    padding: 15px;
    background-color: rgb(255, 197, 90);
    border: none;
    border-radius: 0 0 10px 10px;
}